/* Container do footer */
.footer-container {
  background-color: #1f1f1f;
  color: #f1f1f1;
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  font-family: Arial, sans-serif;
}

/* Seção de devs */
.footer-devs {
  flex: 1 1 300px;
}

.footer-devs h2 {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: normal;
}

.footer-devs h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
}

/* Lista de desenvolvedores */
.dev-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.dev-item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.dev-item a {
  color: #f1f1f1;
  text-decoration: none;
  font-size: 14px;
}

.dev-item a:hover {
  color: #ffcc00;
}



/* Seção de informações */
.footer-info {
  flex: 2 1 500px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.info-card {
  flex: 1 1 150px;
}

.info-card h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.info-card a {
  display: block;
  color: #f1f1f1;
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 14px;
}

.info-card a:hover{
  color: #ffcc00;
}

.info-card img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  vertical-align: middle;
  filter: grayscale(100%);
  transition: .4s ease-in-out;
}

.info-card a:hover img{
  filter: grayscale(0);
}

.info-card span {
  vertical-align: middle;
}

/* Responsividade */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 20px;
  }

  .footer-info {
    flex-direction: column;
    gap: 20px;
  }
}
