<footer class="footer-container">
  <div class="footer-devs">
    <h2>
      &copy; Website made by TrashCoders - 2025 / Todos os direitos reservados
    </h2>

    <h3>Tech Leader</h3>
    <ul class="devs-list">
      <li class="dev-item">
        <img src="https://i.pinimg.com/736x/c0/2e/11/c02e11fff73159047536b26422766740.jpg" alt="Lucas Hubner" />
        <a href="#">Lucas Hubner</a>
      </li>
    </ul>

    <h3>My Team</h3>
    <ul class="devs-list">
      <li class="dev-item">
        <img src="https://i.pinimg.com/1200x/a8/86/40/a886402394b8b4ba14a7197991af553a.jpg" alt="Keynner Davi" />
        <a href="#">Keynner Davi</a>
      </li>
      <li class="dev-item">
        <img src="https://i.pinimg.com/1200x/10/7f/1c/107f1c58d6d81d14b1df87da9bfcc12f.jpg" alt="Kayla Brito" />
        <a href="#">Kaylla Brito</a>
      </li>
      <li class="dev-item">
        <img src="https://i.pinimg.com/736x/d8/f1/a9/d8f1a999f31fbacb50ffc212754d298c.jpg" alt="Tainara Rodrigues" />
        <a href="#">Tainara Rodrigues</a>
      </li>
      <li class="dev-item">
        <img src="https://i.pinimg.com/736x/c6/35/be/c635be41ddf4cb54b8cf82bb074f30be.jpg" alt="Einstein Fonseca" />
        <a href="#">Einstein Fonseca</a>
      </li>
    </ul>
  </div>

  <div class="footer-info">
    <div class="info-card">
      <h2>Links Importantes</h2>
      <a href="index.html">Home</a>
      <a href="sobre.html">Sobre</a>
      <a href="servicos.html">Serviços</a>
      <a href="suporte.html">Suporte</a>
    </div>

    <div class="info-card">
      <h2>Políticas</h2>
      <a href="privacidade.html">Privacidade</a>
      <a href="termos.html">Termos de Uso</a>
    </div>

    <div class="info-card">
      <h2>Redes Sociais</h2>
      <a href="https://facebook.com">
        <img src="../assets/icons/facebook.ico" alt="Facebook" />
        <span>Facebook</span>
      </a>
      <a href="https://instagram.com">
        <img src="../assets/icons/instagram.ico" alt="Instagram" />
        <span>Instagram</span>
      </a>
      <a href="https://twitter.com">
        <img src="../assets/icons/twitter.ico" alt="Twitter" />
        <span>Twitter</span>
      </a>
      <a href="https://linkedin.com">
        <img src="../assets/icons/linkedin.ico" alt="Linkedin" />
        <span>LinkedIn</span>
      </a>
    </div>
  </div>
</footer>
