<header>
  <nav
    id="container-navbar-principal"
    style="background: linear-gradient(90deg, #4b4bb7, #182848)"
  >
    <div class="container-controller logo">
      <img src="../assets/icons/twitter.ico" alt="Logo" />
      <h2>RedRiders</h2>
    </div>

    <div class="container-controller login">
      <img
        src="../assets/icons/user.ico"
        alt="Usuário"
        style="background-color: #4b4bb7"
      />
      <button onclick="window.location.href='login.html'">Login</button>
    </div>
  </nav>
</header>
