<div class="nav-controller">
  <div id="navbar-restaurante" style="display: flex"></div>
</div>

<!-- outlet-->
<div class="container-cards-restaurante">
  <div class="container-card-restaurante">
    <img src="https://images6.alphacoders.com/136/1369784.jpeg" alt="imagem" />
    <a href="sobre-restaurante/1">
      <h2>zzz</h2>
    </a>
  </div>

  <div class="container-card-restaurante">
    <img src="https://images6.alphacoders.com/136/1369784.jpeg" alt="imagem" />
    <a href="sobre-restaurante/1">
      <h2>zzz</h2>
    </a>
  </div>
</div>
